html {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 4;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.header__logo {
  padding-top: 16px;
}

.menu__items {
  display: flex;
  gap: 24px;
  padding-top: 39px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(253, 253, 253);
}

.menu__item-link:hover {
  color: yellow;
}

.menu__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  margin-left: 49px;
  padding: 12px 24px 12px 24px;
  max-height: 44px;
  min-width: 157px;
  margin-top: 30px;
  margin-right: 0px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
}

.menu__btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  font-weight: 600;
  min-width: 157px;
  border: 1px solid #1a3e3e;
}

.top {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 551px;
  z-index: 3;
}

.title {
  font-size: 50px;
  font-weight: 700;
  color: #fdfdfd;
  padding-bottom: 41px;
  text-transform: uppercase;
  line-height: 75px;
}

.top__search {
  display: flex;
  background-color: #ffffff33;
  border-radius: 10px;
}

.top__search-items {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  width: 100%;
  padding: 40px 42px;
}

.top__search-sel {
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 700;
  padding-left: 16px;

  width: 260px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid #fdfdfd;
  border-radius: 10px;
  background-color: initial;
}

.top__search-date {
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 700;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 16px;
  border: 1px solid #fdfdfd;
  border-radius: 10px;
  background-color: initial;
}

.search__date {
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 700;
  padding: 0 8px;
  background-color: initial;
  border: none;
  font-family: "Nunito Sans", sans-serif;
}

.top__search-btn {
  color: #1a3e3e;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 36px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #fdfdfd;
  transition: background-color 1s ease-in-out;
}

.top__search-btn:hover {
  background-color: #1a3e3e;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  cursor: pointer;
}

.title__img {
  overflow: hidden;
}

.top__search-text {
  padding-top: 8px;
  padding-left: 8px;
  size: 14px;
  font-weight: 400;
  color: #fdfdfd;
}

.top__sel-item {
  color: #1a3e3e;
}

.programm {
  margin-top: 100px;
}

.programm__items {
  display: flex;
  gap: 120px;
  padding-bottom: 100px;
}

.progtamm__item-right {
  margin: 64px 0;
}

.programm_item-name {
  color: #f2be22;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.programm__item-header {
  color: #18121e;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  margin-bottom: 40px;
}

.programm__item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 40px;
}

.programm__item-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  padding: 16px 36px 16px 36px;
  max-height: 52px;
  min-width: 200px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
}

.programm__item-btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  cursor: pointer;
}

.progtamm__item-left {
  min-width: 480px;
}

.programm__item-img {
  max-width: 350px;
  max-height: 400px;
  position: absolute;
}

.programm__item-video {
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  transform: translate(130px, 126px);
}

.price {
  background-color: #f3f5f4;
}
.price__items {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 90px;
}

.price__item-left {
  max-width: 580px;
}

.price_item-name {
  color: #f2be22;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.price__item-header {
  color: #18121e;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  margin-bottom: 40px;
}

.price__item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 40px;
}

.price__item-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  padding: 16px 36px 16px 36px;
  max-height: 52px;
  min-width: 200px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
}

.price__item-btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  cursor: pointer;
}

.price__list {
  margin-bottom: 40px;
}

.price__list-img {
  float: left;
  padding-right: 16px;
}

.price__list-head {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #18121e;
}

.price__list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.price__item-right {
  padding-top: 40px;
}

.rating__items {
  padding-top: 80px;
  padding-bottom: 100px;
}

.rating__item-name {
  color: #f2be22;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
  text-align: center;
}

.rating__item-header {
  color: #18121e;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  margin-bottom: 40px;
  text-align: center;
}

.popular {
  display: flex;
  width: 100%;
  gap: 20px;
}

.popular__tour {
  position: relative;
  overflow: hidden;
}

.popular__tour-star {
  background: #fdfdfd66;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 4px 8px;
  color: #1a3e3e;
  border-radius: 4px 0px 0px 4px;
  font-size: 14px;
  font-weight: 700;
}

.runinfo {
  position: absolute;
  top: 410px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  height: 500px;
  transition: 2s ease;
}

.runinfo:hover {
  transform: translate(0px, -410px);
}

.runinfo__title {
  display: flex;
  gap: 34px;
}

.runinfo__title-left {
  margin-top: 20px;
  margin-left: 32px;
  min-width: 194px;
}

.runinfo__title-right {
  margin-top: 24px;
}

.runinfo__head {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: rgba(253, 253, 253, 1);
}

.runinfo__head-inner {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(253, 253, 253, 1);
  padding-bottom: 23px;
}

.runinfo__head-check {
  display: flex;
  max-width: 86px;
  justify-content: center;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px;
  padding: 8px 16px;
  color: rgba(253, 253, 253, 1);
}

.runinfo__head-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(253, 253, 253, 1);
  padding-left: 32px;
  text-align: left;
  padding-bottom: 105px;
  padding-top: 30px;
}

.runinfo__head-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  max-height: 44px;
  min-width: 176px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
  margin-left: 32px;
  margin-bottom: 20px;
}

.runinfo__head-btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  cursor: pointer;
}
