html {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

.header {
  /* position: absolute; */
  left: 0;
  right: 0;
  z-index: 4;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.back {
  background-image: url(/img/titleimg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.header__logo {
  padding-top: 16px;
}

.menu__items {
  display: flex;
  gap: 24px;
  padding-top: 39px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(253, 253, 253);
}

.menu__item-link:hover {
  color: yellow;
}

.menu__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  margin-left: 49px;
  padding: 12px 24px 12px 24px;
  max-height: 44px;
  min-width: 157px;
  margin-top: 30px;
  margin-right: 0px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
}

.menu__btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  font-weight: 600;
  min-width: 157px;
  border: 1px solid #1a3e3e;
}

.top {
  padding-top: 450px;
  z-index: 3;
  padding-bottom: 100px;
}

.title {
  font-size: 50px;
  font-weight: 700;
  color: #fdfdfd;
  padding-bottom: 41px;
  text-transform: uppercase;
  line-height: 75px;
}

.top__search {
  display: flex;
  background-color: #ffffff33;
  border-radius: 10px;
}

.top__search-items {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  width: 100%;
  padding: 40px 42px;
}

.top__search-sel {
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 700;
  padding-left: 16px;

  width: 260px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid #fdfdfd;
  border-radius: 10px;
  background-color: initial;
}

.top__search-date {
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 700;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 16px;
  border: 1px solid #fdfdfd;
  border-radius: 10px;
  background-color: initial;
}

.search__date {
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 700;
  padding: 0 8px;
  background-color: initial;
  border: none;
  font-family: "Nunito Sans", sans-serif;
}

.top__search-btn {
  color: #1a3e3e;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 36px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #fdfdfd;
  transition: background-color 1s ease-in-out;
}

.top__search-btn:hover {
  background-color: #1a3e3e;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  cursor: pointer;
}

.title__img {
  overflow: hidden;
}

.top__search-text {
  padding-top: 8px;
  padding-left: 8px;
  size: 14px;
  font-weight: 400;
  color: #fdfdfd;
}

.top__sel-item {
  color: #1a3e3e;
}

.programm {
  margin-top: 100px;
}

.programm__items {
  display: flex;
  gap: 200px;
  padding-bottom: 100px;
}

.progtamm__item-right {
  margin: 64px 0;
}

.programm_item-name {
  color: #f2be22;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.programm__item-header {
  color: #18121e;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  margin-bottom: 40px;
}

.programm__item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 40px;
}

.programm__item-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  padding: 16px 36px 16px 36px;
  max-height: 52px;
  min-width: 200px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
}

.programm__item-btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  cursor: pointer;
}

.progtamm__item-left {
  max-width: 100%;
}

.programm__item-img {
  max-width: 350px;
  max-height: 400px;
  position: absolute;
}

.programm__item-video {
  z-index: 2;
  border-radius: 20px;
  transform: translate(110px, 110px);
}

.price {
  background-color: #f3f5f4;
}
.price__items {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 90px;
}

.price__item-left {
  max-width: 580px;
}

.price_item-name {
  color: #f2be22;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.price__item-header {
  color: #18121e;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  margin-bottom: 40px;
}

.price__item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 40px;
}

.price__item-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  padding: 16px 36px 16px 36px;
  max-height: 52px;
  min-width: 200px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
}

.price__item-btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  cursor: pointer;
}

.price__list {
  margin-bottom: 40px;
}

.price__list-img {
  float: left;
  padding-right: 16px;
}

.price__list-head {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #18121e;
}

.price__list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.price__item-right {
  padding-top: 40px;
}

.rating__items {
  padding-top: 80px;
  text-align: center;
}

.rating__item-name {
  color: #f2be22;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
  text-align: center;
}

.rating__item-header {
  color: #18121e;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  margin-bottom: 40px;
  text-align: center;
}

.popular {
  display: flex;
  width: 100%;
  gap: 20px;
}

.popular__tour {
  position: relative;
  overflow: hidden;
}

.popular__tour-star {
  background: #fdfdfd66;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 4px 8px;
  color: #1a3e3e;
  border-radius: 4px 0px 0px 4px;
  font-size: 14px;
  font-weight: 700;
}

.runinfo {
  position: absolute;
  top: 410px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  height: 500px;
  transition: 2s ease;
}

.runinfo:hover {
  transform: translate(0px, -410px);
}

.runinfo__title {
  display: flex;
  gap: 34px;
}

.runinfo__title-left {
  margin-top: 20px;
  margin-left: 32px;
  min-width: 194px;
}

.runinfo__title-right {
  margin-top: 24px;
}

.runinfo__head {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: rgba(253, 253, 253, 1);
}

.runinfo__head-inner {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(253, 253, 253, 1);
  padding-bottom: 23px;
}

.runinfo__head-check {
  display: flex;
  max-width: 86px;
  justify-content: center;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px;
  padding: 8px 16px;
  color: rgba(253, 253, 253, 1);
}

.runinfo__head-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(253, 253, 253, 1);
  padding-left: 32px;
  text-align: left;
  padding-bottom: 105px;
  padding-top: 30px;
}

.runinfo__head-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  max-height: 44px;
  min-width: 176px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
  margin-left: 32px;
  margin-bottom: 20px;
}

.runinfo__head-btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  cursor: pointer;
}

.rating__item-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  max-height: 52px;
  min-width: 244px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
  margin-top: 50px;
  margin-bottom: 100px;
}

.rating__item-btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  cursor: pointer;
}

.trevel {
  padding-top: 80px;
}

.blog {
  background-color: rgba(243, 245, 244, 1);
}

.trevel__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px 20px;
}

.trevel__block-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(253, 253, 253, 1);
  border-radius: 20px;
  padding: 16px;
}

.trevel__block-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.trevel_block-head {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #18121e;
  margin: 16px 0;
}

.trevel__block-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #18121e;
  margin-top: 24px;
  margin-bottom: 24px;
  max-height: 116px;
  overflow: hidden;
}

.trevel__block-lowstr {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 16px;
  align-items: center;
}

.trevel__block-time {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #f2be22;
}

.trevel__block-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #1a3e3e;
}

.trevel__btn {
  text-align: center;
}

.trevel__head-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  max-height: 52px;
  min-width: 244px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
  margin-top: 52px;
  margin-bottom: 100px;
}

.trevel__head-btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  cursor: pointer;
}

.gallery__item-name {
  color: #f2be22;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 80px;
}

.gallery__item-header {
  color: #18121e;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  margin-bottom: 40px;
  text-align: center;
}

.gallery__photo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery__photo-img {
  border-radius: 6;
}

.gallery__photo-img:hover {
  cursor: pointer;
}

.gallery__head-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  max-height: 52px;
  min-width: 244px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
  margin-top: 50px;
  margin-bottom: 100px;
}

.gallery__head-btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  cursor: pointer;
}

.footer {
  position: relative;
  justify-content: center;
}

.footer__head {
  position: absolute;
  top: -9%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.footer__head-inner {
  display: flex;
  gap: 64px;
  border-radius: 6px;
  margin-top: 100px;
  background-color: #fdfdfd;
  box-shadow: 0px 0px 15px 0px #18121e1f;
  padding-bottom: 20px;
}

.footer__head-left {
  margin-top: 40px;
}

.footer__item-name {
  color: #f2be22;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
  text-align: left;

  margin-left: 100px;
}

.footer__item-header {
  color: #18121e;
  font-size: 26px;
  font-weight: 800;
  line-height: 31.2px;
  margin-bottom: 40px;
  text-align: left;
  margin-left: 100px;
}

.footer__head-right {
  margin-top: 40px;
}

.footer__right-txt {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
  text-align: left;
}
.footer__input-left {
  width: 280px;
  height: 44px;
  border: none;
  background-color: #f3f5f4;
}

.footer__input {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.footer__input-left::placeholder {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding-left: 16px;
}

.footer__head-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfdfd;
  background-color: #1a3e3e;
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  max-height: 44px;
  width: 260px;
  border: 1px solid #1a3e3e;
  transition: background-color 1s ease-in-out;
}

.footer__head-btn:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
  cursor: pointer;
}

.footer__right-txtlow {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
span {
  text-decoration: underline;
}

span:hover {
  cursor: pointer;
}

.footmid {
  background-color: #1a3e3e;
}

.footmid__items {
  display: grid;
  grid-template-columns: repeat(3, 39% 35% 21%);
  margin-top: 80px;
  padding-top: 178px;
  padding-bottom: 80px;
}

.footmid__company {
  margin-right: 20px;
  /* width: 480px; */
}
.footmid__company-head {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #f3f5f4;
}

.footmid__company-txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 17px;
  color: #f3f5f4;
}

.footmid__company-links {
  display: flex;
  gap: 24px;
  margin-top: 80px;
}

.footmid__company-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #f3f5f4;
  text-decoration: underline;
}

.footmid__company-link:hover {
  color: #f2be22;
  text-decoration: underline;
}

.footmid__company-tel {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #f3f5f4;
  text-decoration: underline;
}

.footmid__company-tel:hover {
  color: #f2be22;
  text-decoration: underline;
}

.footmid__company-pic {
  display: flex;
  gap: 18px;
  margin-top: 34px;
}

.footmid__company-img:hover {
  cursor: pointer;
}

.footmid__list {
  margin-top: 20px;
  list-style-type: "\27A4";
  padding-left: 10px;
}
.footmid__list-item {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #f3f5f4;
  list-style-type: "\27A4";
  padding-left: 4px;
}

.footmid__list-item:hover {
  color: #f2be22;
  text-decoration: underline;
}

.new {
  color: #1a3e3e;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #fdfdfd;
}

.footmid__services {
  padding-left: 60px;
}

.footend {
  background-color: #18121e;
  min-height: 66px;
}

.footend__info {
  display: flex;
  justify-content: space-between;
}

.footend__info-last {
  font-size: 14px;
  font-weight: 600;
  line-height: 66px;
  color: #ffffff;
}

@media (max-width: 900px) {
}

@media (max-width: 490px) {
  .im {
    padding: 10px 10px;
  }
  .footend__info {
    display: block;
    text-align: center;
    width: 100%;
  }
  .footend__info-last {
    line-height: 40px;
  }
  .footer__head-inner {
    display: block;
    height: 360px;
    overflow: hidden;
  }
  .footer__head-left {
    padding: 10px;
    text-align: left;
    width: 390px;
    margin: 0;
  }
  .footer__item-header {
    text-align: left;
    overflow: hidden;
    margin: 0 auto;
  }
  .footer__item-name {
    text-align: left;
    margin: 0 auto;
  }
  .footer__head-right {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
  }
  .footer__input {
    display: grid;
    grid-column: auto;
  }
  .footer__input-left {
    width: 100%;
  }
  .footer__right-txtlow {
    text-align: left;
  }
  .gallery__photo-img {
    padding: 10px;
    max-width: 100%;
    height: auto;
  }
  .gallery__photo {
    justify-content: center;
  }
  .trevel__block {
    display: block;
  }
  .trevel__block-items {
    display: block;
    max-width: 100%;
    margin-top: 10px;
  }

  .popular {
    display: inline-block;
    max-width: 390px;
  }
  .price__items {
    padding-top: 30px;
  }

  .popular__tour {
    height: auto;
    overflow: hidden;
  }
  .price__item-right {
    display: none;
  }

  .programm__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    gap: 8px;
  }
  .programm__item-img {
    display: none;
    align-items: center;
  }
  .programm__item-video {
    position: static;
    transform: none;
  }

  .progtamm__item-right {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-top: 10px;
  }
  .progtamm__item-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    max-width: 400px;
  }
  .menu__btn {
    display: none;
  }

  .menu__items {
    display: none;
  }

  .title {
    font-size: 28px;
    line-height: 40px;
  }
  .top {
    padding-top: 300px;
  }
  .title__img {
    width: 414px;
    height: 600px;
  }

  .top__search-items {
    padding: 0;
    width: auto;
  }
  .top__search-item {
    display: none;
  }
  .btn {
    display: block;
  }
  .footmid__items {
    display: block;
    margin-top: 80px;
    gap: 30px;
  }
  .top__search {
    background: none;
  }
}
